.sliderBlueShadow{
    right: 1%;
    top: -90px;
    z-index: 0;
}
.sliderRedShadow{
    left: 0;
    top: 120px;
    z-index: 0;
}
.sliderYellowShadow{
    left:10%;
    top: -70px;
    z-index: 0;
}

/** responsive slider**/

@media screen and (max-width: 920px) {
    .sliderBlueShadow{
        right: 1%;
        top: -90px;
        z-index: 0;
    }
    .sliderRedShadow{
        left: -15%;
        top: 120px;
        z-index: 0;
    }
    .sliderYellowShadow{
        left: -110%;
        top: -70px;
        z-index: 0;
    }
}

@media screen and (max-width: 780px) {
    .sliderBlueShadow{
        right: 1%;
        top: -90px;
        z-index: 0;
    }
    .sliderRedShadow{
        left: -15%;
        top: 120px;
        z-index: 0;
    }
    .sliderYellowShadow{
        left: -110%;
        top: -70px;
        z-index: 0;
    }
}

@media screen and (max-width: 480px) {
    .sliderBlueShadow{
        right: 1%;
        top: -90px;
        z-index: 0;
    }
    .sliderRedShadow{
        left: -15%;
        top: 120px;
        z-index: 0;
    }
    .sliderYellowShadow{
        left: -110%;
        top: -70px;
        z-index: 0;
    }
}


